.container {
    margin-top: 20px;
}

/* Carousel Header Styles */
.page {
   background-color: #A8A8A8;
   color: #DDDDDD;
}


.battuta1 {
    background-color: #000;
}

.battuta2 {
    background-color: #2980b9;
}