body {
     margin: 0;
     background: url('./sfondo.png');
     height: 100%;
     width: 100%;
     background-repeat:no-repeat;
}

.centro {
    background-color: #000000;
}

h1 {
   color: #FFFFFF;
}


h3 {
   color: #AAAAAA;
}

a {
   color: #AAAAAA;
}
