<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>BENVENUTO {{name}}. TI AUGURO UN BUONO STUDIO</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <style type="text/css">
        .container {
    margin-top: 20px;
}


/* Carousel Header Styles */
.page {
   background-color: #A8A8A8;
   color: #DDDDDD;
}


.battuta1 {
    background-color: #000;
}

.battuta2 {
    background-color: #2980b9;
}


    </style>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/bootstrap/js/bootstrap.min.js"></script>

    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body class="page">

                    	<div class="col-md-3">
			</div>
                        <div class="col-md-6 text-left">

                <div class="progress">
                  <div id="MyProgressBar" class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
                        aria-valuemin="0" aria-valuemax="100" style="width: 0;">

                  </div>
                </div>


			    <div class="battuta1">
		                    <h3>
					<span>
						<strong id="name1">{{ data.name1.decode('utf-8') }}: </strong>
						<span id="text1">{{ data.text1.decode('utf-8') }}</span>
					</span>
		                    </h3>

		                    <h3>
		                    	<span>
						<strong id="name2">{{ data.name2.decode('utf-8') }}: </strong>
						<span id="text2">{{ data.text2.decode('utf-8') }}</span>
					</span>
		                    </h3>
			            <h3>
		                    	<span>
						<strong id="name3">{{ data.name3.decode('utf-8') }}: </strong>
						<span id="text3">{{ data.text3.decode('utf-8') }}</span>
					</span>
		                    </h3>
			    </div>
			    <div class="battuta2">
				    <h2>
		                    	<span> <strong id="myname">{{data.myname.decode('utf-8')}}: </strong> <span id="mytext" hidden>{{data.mytext.decode('utf-8')}}</span></span>
		                    </h2>
			    </div>
                            <br>

                            <br>

                    </div>
		    <div class="col-md-3">
		        <h3>Hai studiato
		            <span id="lblBattuteStudiate" class="label label-default">0</span> battute
		        </h3>
		        <h3>In totale hai
		            <span class="label label-default">{{total}}</span> battute
		        </h3>
		    </div>

<script type="text/javascript">
	var click = 0;
	var countBattute = 0;
	var index={{index}};

	function update(battutaMenoStudiata){
	        countBattute++;
	        click = 0;
	        path = "";
	        if (battutaMenoStudiata) path="{{name}}/battutaMenoStudiata"

			$.post( path, {pos: index}, function( data ) {
				var obj = jQuery.parseJSON(data);
			  	$( "#name1" ).text( obj['name1'] + ': ');
				$( "#text1" ).text( obj['text1']);

			  	$( "#name2" ).text( obj['name2'] + ': ');
				$( "#text2" ).text( obj['text2']);

			  	$( "#name3" ).text( obj['name3'] + ': ');
				$( "#text3" ).text( obj['text3']);

			  	$( "#myname" ).text( obj['myname'] + ': ');
				$( "#mytext" ).text( obj['mytext']);
				$( "#lblBattuteStudiate" ).text ( countBattute);

				$('#mytext').hide();
				index = obj['index'];
				document.title = 'Battuta ' + index  + '  di {{total}}';
				$( "#MyProgressBar" ).css("width", (index / {{total}} * 100) + "%" );

			});
	}


	$(document).keypress(function(e) {
	    // Se premo s torno all'inizio
	    if(e.which == 115) {
	        index = -1;
            update(false);
	    }else if(e.which == 114) {
	        index = {{index}};
            update(true);
	    }else if ((e.which == 20) || (e.which == 13)){
	        if (click == 0){
    	  		$('#mytext').show();
    			click=click+1;
    		}else{
                update(false);
    		}
	    }
	});


	$(document).click(function(e) {
		if (click == 0){
	  		$('#mytext').show();
			click=click+1;
		}else{
            update(false);
		}

	});






</script>
</body>
</html>
