<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Tingeltangel</title>

    <!-- Bootstrap -->
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="static/custom.css" rel="stylesheet">
  </head>
  <body>
	<div class="col-md-4">
	</div>
	<div class="col-md-4 centro">
		<h1>TingelTangel 2015</h1>		
		<h3>Scegli il tuo nome</h3>
		{% for el in persone %}
		<a href='{{el}}'>{{el}}</a>
		{% endfor %}	
	</div>
	<div class="col-md-4">
	</div>
	

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>


